{{!-- Received this code from ChatGPT after I couldn't get the route for login to work --}}

<h1>Log In</h1>
<form id="login-form" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Log In</button>
</form>
<script src='../public/css/js/login.js'></script>
